* {
  box-sizing: border-box;
}

.body {
  text-align: center;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10% 5%;
}

.myprofile h3{
  visibility: hidden;
}

.myprofilepics {
  width: 80px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.linkdiv {
  background-color: #eaecf0;
  height: 50px;
  align-items: center;
  margin-block: auto;
  padding-top: 12px;
  border-radius: 8px;
  margin-block: 20px;
}

.mylinks {
  text-decoration: none;
  color: #101828;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.footicons {

}

.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block-start: 400px;
  margin-right: 0;
}


@media screen and (max-width: 1000px){
   .foot img {
    width: 20%;
   }
}


@media screen and (max-width: 500px){
   .foot, .footicons {
    display: none;
    
   }
}